.keep-track .section__info {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 3rem;
}

.descriptions {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}

.description {
    text-align: center;
}

.description h3 {
    margin-bottom: 1rem;
}